body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    text-align: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 40px;
}
.steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.step {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    margin: 10px;
    transition: transform 0.3s;
}
.step:hover {

}
.step-icon {
    font-size: 40px;
    color: #3b82f6;
    margin-bottom: 20px;
}
.step-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.step-description {
    font-size: 14px;
    color: #777;
}